.cameraOn {
    height: 200px;
    max-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    background-color: grey;
    border-radius: 10px;
}
.cameraOn img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.name {
    position: absolute;
    color: white;
    padding: 5px;
}

.cameraOff {
    height: 200px;
    max-width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: grey;
    border-radius: 10px;
}


.cameraOff img {
    width: 100px;
    height: 100%;
}


.roundBlock {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    justify-self: center;
}